<!-- Categories Jumbotron
================================================== -->
<div class="jumbotron fortags">	
	<div class="d-flex h-20">
		<div class="col-md-1 align-self-center text-center h-20">
            <div class="d-flex align-items-center justify-content-center h-20">
				<h4 class="d-md-block d-none align-self-center">Tags</h4>
			</div>
		</div>
		<div class="col-md-8 align-self-center text-center">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
        {{ end }}
		</div>
	</div>
</div>